.container {
  height: 100%;
  text-align: center;
}

.find_wrap {
  text-align: center;
}

.find_wrap > a:nth-child(2) {
  border-left: 1px solid #dadada;
  border-right: 1px solid #dadada;
}

.find_wrap > a {
  text-decoration: none;
  color: #888 !important;
}

.auth_inner_wrap > a{
  text-decoration: none;
  color: #000 !important;
}