.title_wrap {
  margin: 100px;
}
.title {
  font-size: 56px;
  font-weight: 900;
}
.text {
  margin: 60px;
}
.content {
  width: 100%;
  max-width: 1120px;
  margin: 0 auto;
  text-align: -webkit-center;
}
.page_nation {
  margin: 50px 0 100px 0;
}
