.title_wrap {
  margin: 100px;
  text-align: center;
}

.title {
  font-size: 56px;
  font-weight: 900;
}

.text {
  margin: 60px;
}

.content {
  width: 100%;
  max-width: 860px;
  margin: 0 auto;
}

.page_nation {
  margin: 50px 0 100px 0;
}

.title_info {
  width: 100%;
}
