.container {
  width: 550px !important;
}
.header {
  padding-bottom: 69px;
}
.panel_wrap {
  position: relative;
  z-index: 3;
  margin-top: -8px;
}
.panel_item {
  border: 1px solid #c6c6c6;
  border-radius: 6px;
  background-color: #fff;
}
.panel_inner {
  padding: 24px;
}
.login_form {
  padding: 15px !important;
}
.btn_login {
  margin-top: 40px;
}
#btn_login {
  width: 100%;
}
.find_wrap {
  padding: 24px 0 40px;
  text-align: center;
}
.find_wrap .find_text {
  display: inline-block;
  font-size: 16px;
  line-height: 18px;
  text-decoration: none;
  color: #888;
}

.find_wrap li {
  position: relative;
  display: inline-block;
}

.find_wrap li + li,
.relogin_find_wrap li + li {
  padding-left: 28px;
}

// .card-body input {
//  margin-bottom: 20px;
// }

.content .member_info_form {
  text-align: -webkit-center;
}

.member_info_form button:nth-child(1) {
  margin-right: 20px;
}

.error-message {
  padding: 3px 310px 0px 0px;
  color: #E62929;
}

.signup-button {
  display: flex;
  width: 100%;
}

#btn_login {
  width: 100%;
  margin: 10px;
}