.ls_board {
  height: 400px;
}
.ls_photo {
  float: left;
  height: 100%;
  width: 60%;
  box-sizing: border-box;
  padding: 40px;
}
.ls_notice {
  float: left;
  height: 100%;
  width: 40%;
  box-sizing: border-box;
  padding: 40px;
}
.media_content {
  padding: 40px;
  place-content: center;
  display: flex;
}

.media_content iframe {
  width: 600px;
  height: 400px;
  padding: 30px;
}

.ls_img {
  padding-top: 20px;
}

.ls_img img {
  width: 30%;
  height: 250px;
  margin-right: 30px;
}