.detail_title {
  border-bottom: 1px dashed black;
  font-size: 24px;
  padding-bottom: 10px;
  padding-left: 5px;
}

.detail_date {
  font-size: 16px;
  padding: 10px 0 30px 10px;
}

.detail_content {
  padding: 20px 20px 60px 20px;
}

.detail_area .btn {
  float: right;
}

.detail_area {
  padding-bottom: 140px;
}

.detail_date span:nth-child(2) {
  float: right;
}